<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062339255867-9n7b1sg72g1gad9fq1svo7kvds7om4qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062339255867-9n7b1sg72g1gad9fq1svo7kvds7om4qt</string>
	<key>API_KEY</key>
	<string>AIzaSyDEbn3McNxNyIewPhR2uucpQBJt2cIdj_M</string>
	<key>GCM_SENDER_ID</key>
	<string>1062339255867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pearl.com.Pearl</string>
	<key>PROJECT_ID</key>
	<string>pearl-dev-f60a5</string>
	<key>STORAGE_BUCKET</key>
	<string>pearl-dev-f60a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062339255867:ios:f3f1e972ed6652b89e861e</string>
</dict>
</plist>